<!--***********************************************************************************************************
Description:   HTML of the staff update page

Author:
    Tyrell Powers-Crane
Date:
    6.23.16
Change History:

*********************************************************************************************************-->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <title></title>
</head>
<body>
    <header>
        <h1>Staff Update</h1>
    </header>
    <nav>
        <button> Add Staff </button>
        <button> Change Data </button>
        <button> Delete Staff </button>
        <button type="button" onclick="location.href='@Url.Action("Index", "Home")'">Close</button>
    </nav>
    <div class="center">
        <label>SelectStaff Member                     </label><select>
            <option value="1">Select                     </option>
        </select>
    </div>
    <div class="main">
        <ul class="flex">

            <li>
                <label>Staff ID:</label><Input type="text"></Input>
                <label>Status</label><select>
                    <option value="1">A</option>
                    <option value="2">I</option>
                </select>
                <label>Office</label><select>
                    <option value="1">Some Option</option>
                </select>
            </li>
            <li>
                <label>Staff Last Name:</label><input type="Text"></input>
                <label>Staff First Name:</label><input type="Text"></input>
                <label>Middle Initial:</label><input type="Text" size=1></input>
            </li>

            <li>
                <label>Date of Birth:</label><input type="Text"></input>
                <label>SSN:</label><input type="Text" size=1></input>
            </li>
        </ul>
        <ul>
            <span>
                <li>
                    <label>Address:</label><input type="Text"></input>
                    <label>Zip:</label><input type="Text" size=3></input>
                    <label>City:</label><input type="Text" size=8></input>
                    <label>State:</label><select>
                        <option value="1">AL</option>
                    </select>
                </li>
                <li>
                    <label>Home Phone:</label><input type="Text"></input>
                    <label>Cell:</label><input type="Text"></input>
                    <label>Work:</label><input type="Text"></input>
                </li>

            </span>
            <li>
                <label>Sex:</label><select>
                    <option value="1">M</option>
                    <option value="2">F</option>
                </select>
                <label>Race:</label><select></select>
                <label>Handicapped:</label><select>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                </select>
            </li>
            <li>
                <label>Full Time:</label><select>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                </select>
                <label>Full Time Equivalant:</label><select>
                    <option value="1">Some Option</option>
                </select>
                <label>100% ECI?:</label><select>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                </select>
            </li>

            <li>
                <label>Profl Licence #:</label><input type="Text" size=10></input>
                <label>Reg/Certif #:</label><input type="Text" size=10></input>
                <label>NPI #:</label><input type="Text" size=10></input>
            </li>
            <li>
                <label>Med Provider #:</label><input type="Text"></input>
                <label>Taxonomy #:</label><input type="Text" size=10></input>
            </li>
            <li>
                <label>Tricare Provider #:</label><input type="Text"></input>
                <label>BCBS Provider #:</label><input type="Text"></input>
            </li>
            <li>
                <label>Auto Liability Expire:</label><input type="Text" size=10></input>
                <label>Cert Expiration Date:</label><input type="Text" size=10></input>
            </li>
            <li>
                <label>Prof Licence Expiration:</label><input type="Text"></input>
                <label>Incl Time Entry?:</label><input type="checkbox"></input>
                <label>Time Entry Mgmnt?:</label><input type="checkbox"></input>
            </li>
            <li>
                <label>Employment Date:</label><input type="Text" size=10></input>
                <label>Termination Date:</label><input type="Text" size=10></input>
            </li>
            <li>
                <label>Drivers Licence #:</label><input type="Text"></input>
            </li>
            <li>
                <label>Comments:</label><input type="Text" size=50></input>
            </li>
        </ul>
    </div>
</body>
</html>

