<!--***********************************************************************************************************
Description:   HTML page of staff's time sheet service codes page

Author:
    Tyrell Powers-Crane
Date:
    6.27.16
Change History:

*********************************************************************************************************-->

@{
    ViewBag.Title = "Time_Sheet_Service_Code";
}

<h2>Time_Sheet_Service_Code</h2>

<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="styleSheet.css" />
    <title></title>
</head>
<body>
    <header>
        <h1 class="left">Edit Service Code Cross Reference</h1>
        <button class="right"> Close </button>
    </header>
    <nav class="head">
        <label>Service Code:</label>

        <label>Description:</label>

        <label>CPT Code</label>

        <label>ECI Code</label>

        <label>TCM Type</label>

    </nav>
    <div class="main">
        <div class="scroll1">
            <table class="2">
                <thead>
                    <ul></ul>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
