<!--***********************************************************************************************************
Description:   HTML page of staff's time headers page

Author:
    Tyrell Powers-Crane
Date:
    6.27.16
Change History:

*********************************************************************************************************-->

@using GridMvc.Html
@model IEnumerable<eciWEB2016.Models.Client>
@{
    ViewBag.Title = "Time_Headers";
}



<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <title></title>
</head>
<body>
    <header>
        <h1>All Staff Time Headers</h1>
        <ul class="right">
            <button onclick="location.href = '@Url.Action("Time_Headers", "Staff")' "> Refresh </button>
            <button onclick="location.href = '@Url.Action("Time_Sheet_Input", "Staff")' "> Close </button>
        </ul>
        <li>
            <label>Choose Staff</label><select>
                <OPTION>Select Staff Member</OPTION>
            </select>
        </li>
    </header>
    <nav class="head">
        <label>Staff ID:</label>
        <input type="text" size=5></input>
        <label>First Name:</label>
        <input type="text"></input>
        <label>Last Name:</label>
        <input type="text"></input>
        <label>Staff Status</label>
        <select>
            <option>A</option>
            <option>I</option>
        </select>
    </nav>
    <div class="main">
        <li class="left">
            Time Headers For This Staff Member
        </li>

        <div class="scroll">
            @Html.Grid(Model).Columns(columns =>
       {
           columns.Add(Client => Client.firstName).Titled("Custom column title").SetWidth(110);
           columns.Add(Client => Client.lastName).Sortable(true);
       }).WithPaging(20)
            <table class="2">
                <thead>
                    <ul>
                        <li class="inline1">
                            Staff ID
                        </li>
                        <li class="inline2">
                            Week Ending
                        </li>
                    </ul>
                    <li>
                        <button onclick="location.href = '@Url.Action("Time_Sheets", "Staff")' ">
                            Time Sheets
                        </button>
                    </li>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>



