<!--***********************************************************************************************************
Description:   HTML page of staff's time sheet index page
            
Author:
	Tyrell Powers-Crane
Date:
    6.27.16
Change History:

*********************************************************************************************************-->

@{
    ViewBag.Title = "Time_Sheet";
}

<h2>Time_Sheet_Input</h2>

<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="styleSheet.css" />
    <title></title>
</head>
<body>
    <header>
        <h1 class="left">Time Sheets</h1>
        <button class="right"> Close </button>
    </header>
    <nav class="head">
        <label>Staff ID:</label>
        <input type="text" size=10></input>
        <label>Week Ending:</label>
        <input type="text"></input>
    </nav>
    <div class="main">
        <div class="scroll">
            <table class="2">
                <thead>
                    <ul></ul>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>


