@model  List<eciWEB2016.Models.Staff>
<div id="gridContent" style="font-family: Arial; padding: 10px;"> 
    @{
        var grid = new WebGrid(ajaxUpdateContainerId: "gridContent");

        if (Model != null && Model.Count > 0)
        {
            grid = new WebGrid(source: Model, rowsPerPage: 10, ajaxUpdateContainerId: "gridContent", defaultSort: "staffID");
            //grid.Pager(WebGridPagerModes.All);
        }
        else
        {
            List<eciWEB2016.Models.Staff> staffList = new List<eciWEB2016.Models.Staff>();
            grid = new WebGrid(source: staffList, rowsPerPage: 10, ajaxUpdateContainerId: "gridContent", defaultSort: "staffID");
            @:No Data to display
        }

    } 

    @grid.GetHtml(tableStyle: "gTable",
    headerStyle: "webgrid-header",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    selectedRowStyle: "webgrid-selected-row",
    rowStyle: "webgrid-row-style",
    columns: grid.Columns(
    grid.Column(columnName: "staffID", header: "Employee ID"),
    grid.Column(columnName: "firstName", header: "First Name"),
    grid.Column(columnName: "lastName", header: "Last Name"),
    grid.Column("Select", format: (item) => item.GetSelectLink("Select"))
    ))
</div>