################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/itipEci2016/eciDB2016/eciDB2016.dbmdl
/itipEci2016/eciWEB2016/Images/tealquatra.jpg
/itipEci2016/eciWEB2016/Images/retro-blocks.jpg
/itipEci2016/eciWEB2016/Images/greenmod.jpg
/itipEci2016/eciWEB2016/Images/graypolka.jpg
/itipEci2016/eciWEB2016/Images/geometricgray.jpg
/itipEci2016/eciWEB2016/Images/bluestripes.jpg
/itipEci2016/eciWEB2016/Images/bluequatra.jpg
/itipEci2016/eciWEB2016/Images/ballpitrotated.jpg
/itipEci2016/eciWEB2016/Images/ballpitleft.jpg
/itipEci2016/eciWEB2016/Images/aqua-stripes-background.jpg
*.config
itipEci2016/.vs/config/applicationhost.config
itipEci2016/eciDB2016/obj/Debug/eciDB2016.sqlproj.FileListAbsolute.txt
