################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/itipEci2016/eciDB2016/eciDB2016.dbmdl
