<link rel="stylesheet" href="~/Content/style.css" />
<header>
	<h1>Client Update</h1>
</header>
<nav>
	<button type="button">Get Next Alt ID</button>
	<button type="button">Add Client</button>
	<button type="button">Delete Client</button>
	<button type="button" onclick="location.href='@Url.Action("Index", "Home")'">Close</button>
    <button type="button"> View Services for this Client </button>
</nav>		
<div class="column">
	<ul>
		<li>
			<label>Alt ID:</label>
			<input type="text">
		</li>
		<li>
			<label>Find Client:</label>
            @BrowserHelpers.DataList("Clients", Model)
		</li>
	</ul>
	<ul class="flex">
		<li>
			<button type="button">Close if No Records</button>
		</li>
		<li>
			<button type="button">Remove Filter</button>
		</li>
	</ul>
</div>
<div class="main">
    <form>
        <ul class="flex">
            <li>
                <label>Client ID:</label>
                <input type="text">
            </li>
            <li>
                <label>Full Name:</label>
                <input type="text">
            </li>
            <li>
                <label>Office:</label>
                <select>
                    <option>M</option>
                </select>
            </li>
        </ul>
        <ul class="flex">
            <li>
                <label>Last Name:</label>
                <input type="text">
            </li>
            <li>
                <label>First Name:</label>
                <input type="text">
            </li>
            <li>
                <label>MI:</label>
                <input type="text" size="1">
            </li>
            <li>
                <label>Status:</label>
                <select>
                    <option>A</option>
                </select>
            </li>
            <li>
                <label>Months Old:</label>
                <input type="text" size="3">
            </li>
            <li>
                <label>DOB:</label>
                <input type="date">
            </li>
            <li>
                <label>Sex:</label>
                <select>
                    <option>M</option>
                    <option>F</option>
                </select>
            </li>
            <li>
                <label>Ethnicity:</label>
                <select>
                    <option>Hispanic</option>
                    <option>Non-Hispanic</option>
                </select>
            </li>
            <li>
                <label>Race:</label>
                <select>
                    <option>E</option>
                </select>
            </li>
            <li>
                <label>SSN:</label>
                <input type="text" size="9">
            </li>
        </ul>
        <ul class="flex">
            <li>
                <label>Address 1:</label>
                <input type="text" size="60">
            </li>
            <li>
                <label>ISD:</label>
                <input list>
            </li>
            <li>
                <label>Address 2:</label>
                <input type="text" size="60">
            </li>
            <li>
                <label>Language:</label>
                <select>
                    <option>E</option>
                </select>
            </li>
            <li class="inline">
                <label>City:</label>
                <input type="text">
            </li>
            <li class="inline">
                <label>State:</label>
                <input type="text" size="2">
            </li>
            <li class="inline">
                <label>Zip:</label>
                <input list="zipCode" size="6">
                <input type="text" size="4">
            </li>
            <li class="inline">
                <label>MAPSCO:</label>
                <input type="text">
            </li>
            <li>
                <label>Client Phone:</label>
                <input type="text">
            </li>
            <li>
                <label>County:</label>
                <input type="text">
            </li>
            <li>
                <label>Service Area Expection:</label>
                <input type="checkbox">
            </li>
            <li>
                <label>Case Manager:</label>
                <input list>
            </li>
            <li>
                <label>TKID's Case Number:</label>
                <input type="text">
            </li>
            <li>
                <label>Consent to Release Information?</label>
                <input type="checkbox">
            </li>
        </ul>
        <ul>
            <span class="column">
                <li>
                    <label>ECI:</label>
                    <select></select>
                </li>
                <li>
                    <label>Accounting System ID:</label>
                    <input type="text">
                </li>
                <li>
                    <button type="button">Insurance Update</button>
                </li>
                <li>
                    <button type="button">Cost Share and DRS</button>
                </li>
                <li>
                    <button type="button">Credit Card Update</button>
                </li>
            </span>
        </ul>
        <span class="center">
            <ul>
                <li>
                    <label>Diagnosis Type</label>
                </li>
                <li>
                    <select>
                        <option>Primary</option>
                        <option>Alternate</option>
                    </select>
                </li>
            </ul>
            <ul>
                <li>
                    <label>Diagnosis Code</label>
                </li>
                <li>
                    <input list>
                </li>
            </ul>
        </span>
        <span>
            <h4>Physician Information:</h4>
        </span>
        <ul class="flex">
            <li>
                <label>Last Name:</label>
                <input type="text" />
            </li>
            <li>
                <label>First Name:</label>
                <input type="text" />
            </li>
            <li>
                <label>Type:</label>
                <input type="text" />
            </li>
        </ul>
        <ul>
            <li>
                <label>Address 1:</label>
                <input type="text" size="60">
            </li>
            <li>
                <label>Address 2:</label>
                <input type="text" size="60"><br />
            </li>
        </ul>
        <ul class="flex">
            <li>
                <label>City:</label>
                <input type="text">
            </li>
            <li>
                <label>State:</label>
                <select>
                    <option value="1">AL</option>
                    <option value="2">AK</option>
                    <option value="3">AZ</option>
                    <option value="4">AR</option>
                    <option value="5">CA</option>
                    <option value="6">CO</option>
                    <option value="7">CT</option>
                    <option value="8">DE</option>
                    <option value="9">FL</option>
                    <option value="10">GA</option>
                    <option value="11">HI</option>
                    <option value="12">ID</option>
                    <option value="13">IL</option>
                    <option value="14">IN</option>
                    <option value="15">IA</option>
                    <option value="16">KS</option>
                    <option value="17">KY</option>
                    <option value="18">LA</option>
                    <option value="19">ME</option>
                    <option value="20">MD</option>
                    <option value="21">MA</option>
                    <option value="22">MI</option>
                    <option value="23">MN</option>
                    <option value="24">MS</option>
                    <option value="25">MO</option>
                    <option value="26">MT</option>
                </select>
            </li>
            <li>
                <label>Zip:</label>
                <input list="zipCode" size="6">
                <input type="text" size="4">
            </li>
        </ul>
        <ul class="flex">
            <li>
                <label>Home Phone:</label>
                <input type="Text">
            </li>
            <li>
                <label>Fax:</label>
                <input type="Text">
            </li>
            <li>
                <label>Physician ID:</label>
                <input type="Text">
            </li>
            <li>
                <label>Physician NPI:</label>
                <input type="Text">
            </li>
        </ul>
                <ul>
                    <li>
                        <label>Medical Recieved:</label>
                        <input type="CheckBox">
                    </li>
                    <li>
                        <label>Date Recieved:</label>
                        <input type="date">
                    </li>
                    <li>
                        <label>Immunizations Recieved:</label>
                        <input type="CheckBox">
                    </li>
                </ul>
                </span>
                <span>
                    <ul>
                        <li><h4>Guardian 1:</h4></li>
                        <li>
                            <label>Last Name:</label>
                            <input type="text" />
                        </li>
                        <li>
                            <label>First Name:</label>
                            <input type="text" />
                        </li>
                        <li>
                            <label>Relationship:</label>
                            <select>
                                <option value="1">Mother</option>
                                <option value="2">Father</option>
                            </select>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label>Address 1:</label>
                            <input type="text" size="50">
                        </li>
                        <li>
                            <label>Address 2:</label>
                            <input type="text" size="50">
                        </li>
                        <li>
                            <label>City:</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>State:</label>
                            <select>
                                <option value="1">AL</option>
                                <option value="2">AK</option>
                                <option value="3">AZ</option>
                                <option value="4">AR</option>
                                <option value="5">CA</option>
                                <option value="6">CO</option>
                                <option value="7">CT</option>
                                <option value="8">DE</option>
                                <option value="9">FL</option>
                                <option value="10">GA</option>
                                <option value="11">HI</option>
                                <option value="12">ID</option>
                                <option value="13">IL</option>
                                <option value="14">IN</option>
                                <option value="15">IA</option>
                                <option value="16">KS</option>
                                <option value="17">KY</option>
                                <option value="18">LA</option>
                                <option value="19">ME</option>
                                <option value="20">MD</option>
                                <option value="21">MA</option>
                                <option value="22">MI</option>
                                <option value="23">MN</option>
                                <option value="24">MS</option>
                                <option value="25">MO</option>
                                <option value="26">MT</option>
                            </select>
                        </li>
                        <li>
                            <label>Zip:</label>
                            <input list="zipCode" size="6">
                            <input type="text" size="4">
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label>Home Phone:</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>Work Phone:</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>Cell Phone:</label>
                            <input type="text">
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label>Email:</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>Communication Preference:</label>
                            <input list="communicationPreference">
                        </li>
                        <li>
                            <label>Best to Call:</label>
                            <input list="bestToCall">
                        </li>
                        <li>
                            <label>Sex:</label>
                            <select>
                                <option value="1">M</option>
                                <option value="1">F</option>
                            </select>
                        </li>
                        <li>
                            <label>Race:</label>
                            <select></select>
                        </li>
                        <li>
                            <label>Occupation:</label>
                            <input type="Text" />
                        </li>
                        <li>
                            <label>Employer:</label>
                            <input type="Text" />
                        </li>
                    </ul>
                </span>
                <span>
                    <ul>
                        <li><h4>Guardian 2:</h4></li>
                        <li>
                            <label>Last Name:</label>
                            <input type="text" />
                        </li>
                        <li>
                            <label>First Name:</label>
                            <input type="text" />
                        </li>
                        <li>
                            <label>Relationship:</label>
                            <select>
                                <option value="1">Mother</option>
                                <option value="2">Father</option>
                            </select>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label>Address 1:</label>
                            <input type="text" size="50">
                        </li>
                        <li>
                            <label>Address 2:</label>
                            <input type="text" size="50">
                        </li>
                        <li>
                            <label>City:</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>State:</label>
                            <select>
                                <option value="1">AL</option>
                                <option value="2">AK</option>
                                <option value="3">AZ</option>
                                <option value="4">AR</option>
                                <option value="5">CA</option>
                                <option value="6">CO</option>
                                <option value="7">CT</option>
                                <option value="8">DE</option>
                                <option value="9">FL</option>
                                <option value="10">GA</option>
                                <option value="11">HI</option>
                                <option value="12">ID</option>
                                <option value="13">IL</option>
                                <option value="14">IN</option>
                                <option value="15">IA</option>
                                <option value="16">KS</option>
                                <option value="17">KY</option>
                                <option value="18">LA</option>
                                <option value="19">ME</option>
                                <option value="20">MD</option>
                                <option value="21">MA</option>
                                <option value="22">MI</option>
                                <option value="23">MN</option>
                                <option value="24">MS</option>
                                <option value="25">MO</option>
                                <option value="26">MT</option>
                            </select>
                        </li>
                        <li>
                            <label>Zip:</label>
                            <input list="zipCode" size="6">
                            <input type="text" size="4">
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label>Home Phone:</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>Work Phone:</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>Cell Phone:</label>
                            <input type="text">
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <label>Email:</label>
                            <input type="text">
                        </li>
                        <li>
                            <label>Communication Preference:</label>
                            <input list="communicationPreference">
                        </li>
                        <li>
                            <label>Best to Call:</label>
                            <input list="bestToCall">
                        </li>
                        <li>
                            <label>Sex:</label>
                            <select>
                                <option value="1">M</option>
                                <option value="1">F</option>
                            </select>
                        </li>
                        <li>
                            <label>Race:</label>
                            <select></select>
                        </li>
                        <li>
                            <label>Occupation:</label>
                            <input type="Text" />
                        </li>
                        <li>
                            <label>Employer:</label>
                            <input type="Text" />
                        </li>
                    </ul>
                </span>
                <span>
                    <ul>
                        <li>
                            Sibling Information:
                        </li>
                        <li>
                            <table>
                                <tr>
                                    <th>Name</td>
                                    <th>Birth Date</th>
                                </tr>
                                <tr>
                                    <td>Data</td>
                                    <td>data</td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <label>Release Comments:</label>
                            <textarea name="referralComments" rows="20" cols="20"></textarea>
                        </li>
                    </ul>
                </span>
                <ul>
                    <li>
                        <label>Select Provider:</label>
                        <select name="provider">
                            <option>Select provider for this child.</option>
                        </select>
                    </li>
                </ul>
                <ul>
                    <li>
                        <table>
                            <tr>
                                <th>Entry Date</td>
                                <th>Provider First Name</th>
                                <th>Provider Last Name</th>
                                <th>Provider Company</th>
                                <th>Details...</th>
                            </tr>
                            <tr>
                                <td>Data</td>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                                <td><button type="button">Details</button></td>
                            </tr>
                        </table>
                    </li>
                </ul>
                <ul>
                    <li>
                        <button type="button">
                            View/Add/Edit Providers...
                        </button>
                    </li>
                </ul>
                <ul>
                    <li>
                        <label>Referral Letter Sent:</label>
                        <input type="date"></input>
                    </li>
                </ul>
            </div>
    </form>
</div>