@helper DataList(string clientIDName, IEnumerable<System.Web.Mvc.SelectListItem> SelectList)
{
    <input list="clientIDName" name="clientIDInput" />

    <datalist id="clientIDName" name="clientIDName">
        @foreach(var item in SelectList) {
        <option value="@item.Value">@item.Text</option>
        }
    </datalist>
}

@helper idList(string altIDName, IEnumerable<System.Web.Mvc.SelectListItem> SelectList)
{
    <input list=altIDName>

    <datalist id= altIDName>
        @foreach (var item in SelectList)
        {
            <option value="@item.Value">@item.Text</option>
        }
    </datalist>
}