<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/Content/ClientUpdatePg2.css" />
    <title></title>
</head>
<body>
    <div id="header">
        <p id="name">Physician Information View????</p>
        <label id="select">Last Physical Exam</label>
        <input id="select" type="text" size=5></input>

    </div>
    <div class="left">
        <button id="button"> View Services for this Client </button>

    </div>


    <div class="right">


        <p>
            <h4>
                Physician Information:
                </4>
                <h4>
                    Last Name: <label for="text2">
                        <input type="text" />
                        First Name <label for="text3">
                            <input type="text" />
                            Type: <label for="text4"><input type="text" />
                </h4>
                <h4>
                    <label>Address: </label><input type="Text"></input>
                    <label>Zip: </label><input type="Text" size=3></input>
                    <label>City: </label><input type="Text" size=8></input>
                    <label>State: </label><select>
                        <option value="1">AL</option>
                        <option value="2">AK</option>
                        <option value="3">AZ</option>
                        <option value="4">AR</option>
                        <option value="5">CA</option>
                        <option value="6">CO</option>
                        <option value="7">CT</option>
                        <option value="8">DE</option>
                        <option value="9">FL</option>
                        <option value="10">GA</option>
                        <option value="11">HI</option>
                        <option value="12">ID</option>
                        <option value="13">IL</option>
                        <option value="14">IN</option>
                        <option value="15">IA</option>
                        <option value="16">KS</option>
                        <option value="17">KY</option>
                        <option value="18">LA</option>
                        <option value="19">ME</option>
                        <option value="20">MD</option>
                        <option value="21">MA</option>
                        <option value="22">MI</option>
                        <option value="23">MN</option>
                        <option value="24">MS</option>
                        <option value="25">MO</option>
                        <option value="26">MT</option>
                    </select>
                </h4>
        <P>
            <label>Home Phone: </label><input type="Text"></input>
            <label>Fax: </label><input type="Text"></input>
            <label>Physician ID: </label><input type="Text"></input>
            <label>Physician NPI Nbr: </label><input type="Text"></input>
        </P>
        <p>
            <label>Medical Recieved: </label><input type="CheckBox"></input>
            <label>Date Recieved: </label><input type="Text"></input>
            <label>Immunizations Recieved: </label><input type="CheckBox"></input>
            <h4>
                Guardian 1:
            </h4>
            <h4>
                Last Name: <label for="text2">
                    <input type="text" />
                    First Name <label for="text3">
                        <input type="text" />
                        <label>Relationship: </label><select>
                            <option value="1">Mother</option>
                            <option value="2">Father</option>
                        </select>
            </h4>
        </p>

        </p>
        <p>
            <label>
                Middle Initial: <input type="text" size=1>
                <label>
                    Date of Birth (dd/mm/yyyy): <input type="text" size=1>
                    <label>SSN: <input type="text" size=1>
        </p>
        <h4>
            <label>Address: </label><input type="Text"></input>
            <label>Zip: </label><input type="Text" size=3></input>
            <label>City: </label><input type="Text" size=8></input>
            <label>State: </label><select></select>
        </h4>
        <p>
            <label>Home Phone: </label><input type="Text"></input>
            <label>Cell: </label><input type="Text"></input>
            <label>Work: </label><input type="Text"></input>
        </p>
        <p>
            <label>Sex:  </label><select>
                <option value="1">M</option>
                <option value="1">F</option>
            </select>
            <label>Race:  </label><select></select>
        </p>
        <p>
            <label>Occupation: </label><input type="Text"></input>
            <label>Employer: </label><input type="Text"></input>
        </p>

        <h4>
            Guardian 2:
        </h4>
        <h4>
            Last Name: <label for="text2">
                <input type="text" />
                First Name <label for="text3">
                    <input type="text" />
                    <label>Relationship: </label><select>
                        <option value="1">Mother</option>
                        <option value="1">Father</option>
                    </select>
        </h4>
        </p>

        </p>
        <p>
            <label>
                Middle Initial: <input type="text" size=1>
                <label>
                    Date of Birth (dd/mm/yyyy): <input type="text" size=1>
                    <label>SSN: <input type="text" size=1>
        </p>
        <h4>
            <label>Address: </label><input type="Text"></input>
            <label>Zip: </label><input type="Text" size=3></input>
            <label>City: </label><input type="Text" size=8></input>
            <label>State: </label><select></select>
        </h4>
        <p>
            <label>Home Phone: </label><input type="Text"></input>
            <label>Cell: </label><input type="Text"></input>
            <label>Work: </label><input type="Text"></input>
        </p>
        <p>
            <label>Sex:  </label><select>
                <option value="1">M</option>
                <option value="1">F</option>
            </select>
            <label>Race:  </label><select></select>
        </p>
        <p>
            <label>Occupation: </label><input type="Text"></input>
            <label>Employer: </label><input type="Text"></input>
        </p>
        <h4>
            Sibling Information:                        BirthDate:
        </h4>
        <p id="sibling">
            <input type="Text"></input>  <input type="Text" size=5></input>
        </p>
        <p id="sibling">
            <input type="Text"></input>  <input type="Text" size=5></input>
        </p>
        <p id="sibling">
            <input type="Text"></input>  <input type="Text" size=5></input>
        </p>
        <p id="sibling">
            <input type="Text"></input>  <input type="Text" size=5></input>
        </p>

        <h4>
            Outcome/Provider Section for letters DO NOT CHANGE
        </h4>
        <p>
            For outcome "K": <label>Agency: </label><input type="Text"></input>
            <label>Agency Phone: </label><input type="Text"></input>
        </p>

        <p>
            <label>Referral Letter Sent: </label><input type="Text"></input>
        </p>
    </div>
    <div id="footer">
        <p></p>
    </div>
</body>
</html>