<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/Content/StaffUpdate.css" />
    <title></title>
</head>
<body>
    <div>
        <ul>
            <li>Staff Update</li>
            <li>
                <label>SelectStaff Member</label><select></select>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <button> Add Staff </button>
            </li>
            <li>
                <button> Change Data </button>
            </li>
            <li>
                <button> Delete Staff </button>
            </li>
        </ul>
    </div>
    <div>
        <ul>
            <li>
                <label>Staff ID: </label><Input type="text"></Input>
                <label>Status</label><select>
                    <option value="1">A</option>
                    <option value="2">I</option>
                </select>
                <label>Office</label><select>
                    <option value="1">Some Option</option>
                </select>
            </li>
            <li>
                <label>Staff Last Name: </label><input type="Text"></input>
                <label>Staff First Name: </label><input type="Text"></input>
                <label>Middle Initial: </label><input type="Text" size=1></input>
            </li>
            <li>
                <label>Date of Birth: </label><input type="Text"></input>
                <label>SSN: </label><input type="Text" size=1></input>
            </li>
        </ul>
        <ul>
            <li>
                <label>Address: </label><input type="Text"></input>
                <label>Zip: </label><input type="Text" size=3></input>
                <label>City: </label><input type="Text" size=8></input>
                <label>State: </label><select>
                    <option value="1">AL</option>
                </select>
            </li>
            <li>
                <label>Home Phone: </label><input type="Text"></input>
                <label>Cell: </label><input type="Text"></input>
                <label>Work: </label><input type="Text"></input>
            </li>
            <li>
                <label>Sex:  </label><select>
                    <option value="1">M</option>
                    <option value="2">F</option>
                </select>
                <label>Race:  </label><select></select>
                <label>Handicapped:  </label><select>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                </select>
            </li>
            <li>
                <label>Full Time:  </label><select>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                </select>
                <label>Full Time Equivalant:  </label><select>
                    <option value="1">Some Option</option>
                </select>
                <label>100% ECI?:  </label><select>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                </select>
            </li>
            <li>
                <label>Employment Date: </label><input type="Text"></input>
                <label>Termination Date: </label><input type="Text"</input>
            </li>
            <li>
                <label>Drivers Licence #: </label><input type="Text"></input>
            </li>
            <li>
                <label>Comments: </label><input type="Text" size=50></input>
            </li>
        </ul>
    </div>
</body>
</html>

