<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="~/Content/StaffUpdate.css" />
    <title></title>
</head>
<body>
    <div id="header">
        <p id="name">Staff Update</p>
        <label id="select">Select Member</label>
        <select id="select">Select Staff Member</select>
    </div>
    <div class="left">
        <button id="button"> Add Staff </button>
        <p>
            <button> Change Data </button>
        </p>
        <p>
            <button> Delete Staff </button>
        </p>
    </div>


    <div class="right">
        <h4>
            Staff ID: <label for="text1">
                <input type="text" name="text1" id="text1" />
            </label> <label> Status</label><select>
                <option value="1">A</option>
                <option value="2">I</option>
            </select>
            <label>Office</label><select>
                <option value="1">Some Option</option>
            </select>
        </h4>


        <p>
            <h4>
                Staff Last Name: <label for="text2">
                    <input type="text" name="text2" id="text2" />
                    Staff First Name <label for="text3"> <input type="text" name="text3" id="text3" />
        </p>
        <p>
            <label>
                Middle Initial: <input type="text" size=1>
                <label>
                    Date of Birth (dd/mm/yyyy): <input type="text" size=1>
                    <label>SSN: <input type="text" size=1>
        </p>
        <h4>
            <label>Address: </label><input type="Text"></input>
            <label>Zip: </label><input type="Text" size=3></input>
            <label>City: </label><input type="Text" size=8></input>
            <label>State: </label><select>
                <option value="1">AL</option>
                <option value="2">AK</option>
                <option value="3">AZ</option>
                <option value="4">AR</option>
                <option value="5">CA</option>
                <option value="6">CO</option>
                <option value="7">CT</option>
                <option value="8">DE</option>
                <option value="9">FL</option>
                <option value="10">GA</option>
                <option value="11">HI</option>
                <option value="12">ID</option>
                <option value="13">IL</option>
                <option value="14">IN</option>
                <option value="15">IA</option>
                <option value="16">KS</option>
                <option value="17">KY</option>
                <option value="18">LA</option>
                <option value="19">ME</option>
                <option value="20">MD</option>
                <option value="21">MA</option>
                <option value="22">MI</option>
                <option value="23">MN</option>
                <option value="24">MS</option>
                <option value="25">MO</option>
                <option value="26">MT</option>
            </select>
        </h4>
        <p>
            <label>Home Phone: </label><input type="Text"></input>
            <label>Cell: </label><input type="Text"></input>
            <label>Work: </label><input type="Text"></input>
        </p>
        <p>
            <label>Sex:  </label><select>
                <option value="1">M</option>
                <option value="2">F</option>
            </select>
            <label>Race:  </label><select></select>
            <label>Handicapped:  </label><select>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </p>
        <p>
            <label>Full Time:  </label><select>
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
            <label>Full Time Equivalant:  </label><select>
                <option value="1">Some Option</option>
            </select>
            <label>100% ECI?:  </label><select>
                <option value="1">Yes</option>
                <option value="1">No</option>
            </select>
        </p>
        <h4>
            <label>Employment Date: </label><input type="Text"></input>
            <label>Termination Date: </label><input type="Text"</input>
        </h4>
        <p>
            <label>Drivers Licence #: </label><input type="Text"></input>
        </p>

        <p>
            <label>Comments: </label><input type="Text" size=50></input>

    </div>
    <div id="footer">
        <p></p>
    </div>
</body>
</html>