
<h4>Physician Information:</h4>
<ul class="flex">
    <li>
        <label>Last Name:</label>
        <input type="text" />
    </li>
    <li>
        <label>First Name:</label>
        <input type="text" />
    </li>
    <li>
        <label>Type:</label>
        <input type="text" />
    </li>
</ul>
<ul>
    <li>
        <label>Address 1:</label>
        <input type="text" size="60">
    </li>
    <li>
        <label>Address 2:</label>
        <input type="text" size="60"><br />
    </li>
</ul>
<ul class="flex">
    <li>
        <label>City:</label>
        <input type="text">
    </li>
    <li>
        <label>State:</label>
        <input list="states" />
        <datalist id="states" name="state">
            <option stateCode="AL">Alabama</option>
            <option stateCode="AK">Alaska</option>
            <option stateCode="AZ">Arizona</option>
            <option stateCode="AR">Arkansas</option>
            <option stateCode="CA">California</option>
            <option stateCode="CO">Colorado</option>
            <option stateCode="CT">Connecticut</option>
            <option stateCode="DE">Delaware</option>
            <option stateCode="DC">District Of Columbia</option>
            <option stateCode="FL">Florida</option>
            <option stateCode="GA">Georgia</option>
            <option stateCode="HI">Hawaii</option>
            <option stateCode="ID">Idaho</option>
            <option stateCode="IL">Illinois</option>
            <option stateCode="IN">Indiana</option>
            <option stateCode="IA">Iowa</option>
            <option stateCode="KS">Kansas</option>
            <option stateCode="KY">Kentucky</option>
            <option stateCode="LA">Louisiana</option>
            <option stateCode="ME">Maine</option>
            <option stateCode="MD">Maryland</option>
            <option stateCode="MA">Massachusetts</option>
            <option stateCode="MI">Michigan</option>
            <option stateCode="MN">Minnesota</option>
            <option stateCode="MS">Mississippi</option>
            <option stateCode="MO">Missouri</option>
            <option stateCode="MT">Montana</option>
            <option stateCode="NE">Nebraska</option>
            <option stateCode="NV">Nevada</option>
            <option stateCode="NH">New Hampshire</option>
            <option stateCode="NJ">New Jersey</option>
            <option stateCode="NM">New Mexico</option>
            <option stateCode="NY">New York</option>
            <option stateCode="NC">North Carolina</option>
            <option stateCode="ND">North Dakota</option>
            <option stateCode="OH">Ohio</option>
            <option stateCode="OK">Oklahoma</option>
            <option stateCode="OR">Oregon</option>
            <option stateCode="PA">Pennsylvania</option>
            <option stateCode="RI">Rhode Island</option>
            <option stateCode="SC">South Carolina</option>
            <option stateCode="SD">South Dakota</option>
            <option stateCode="TN">Tennessee</option>
            <option stateCode="TX">Texas</option>
            <option stateCode="UT">Utah</option>
            <option stateCode="VT">Vermont</option>
            <option stateCode="VA">Virginia</option>
            <option stateCode="WA">Washington</option>
            <option stateCode="WV">West Virginia</option>
            <option stateCode="WI">Wisconsin</option>
            <option stateCode="WY">Wyoming</option>
            <option stateCode="AS">American Samoa</option>
            <option stateCode="GU">Guam</option>
            <option stateCode="MP">Northern Mariana Islands</option>
            <option stateCode="PR">Puerto Rico</option>
            <option stateCode="UM">United States Minor Outlying Islands</option>
            <option stateCode="VI">Virgin Islands</option>
        </datalist>
    </li>
    <li>
        <label>Zip:</label>
        <input list="zipCode" size="6">
        <input type="text" size="4">
    </li>
</ul>
<ul class="flex">
    <li>
        <label>Home Phone:</label>
        <input type="Text">
    </li>
    <li>
        <label>Fax:</label>
        <input type="Text">
    </li>
    <li>
        <label>Physician ID:</label>
        <input type="Text">
    </li>
    <li>
        <label>Physician NPI:</label>
        <input type="Text">
    </li>
</ul>
<ul>
    <li>
        <label>Medical Recieved:</label>
        <input type="CheckBox">
    </li>
    <li>
        <label>Date Recieved:</label>
        <input type="date">
    </li>
    <li>
        <label>Immunizations Recieved:</label>
        <input type="CheckBox">
    </li>
</ul>