@*/****************************************************************************
Description: Client_Update family webgrid partial view.

Author: Jennifer M. Graves

Date: 07-12-2016

Change History:

****************************************************************************/*@

@{
    eciWEB2016.Models.Client currentClient = new eciWEB2016.Models.Client();

    if (Session["client"] != null)
    {
        currentClient = (eciWEB2016.Models.Client)Session["client"];
    }
}
<ul>
    <li><h4>Guardian 1:</h4></li>
    <li>
        <label>Last Name:</label>
        <input type="text" />
    </li>
    <li>
        <label>First Name:</label>
        <input type="text" />
    </li>
    <li>
        <label>Relationship:</label>
        <select>
            <option value="1">Mother</option>
            <option value="2">Father</option>
        </select>
    </li>
</ul>
<ul>
    <li>
        <label>Address 1:</label>
        <input type="text" size="50">
    </li>
    <li>
        <label>Address 2:</label>
        <input type="text" size="50">
    </li>
    <li>
        <label>City:</label>
        <input type="text">
    </li>
    <li>
        <label>State:</label>
        <input list="states" />
        <datalist id="states" name="state">
            <option stateCode="AL">Alabama</option>
            <option stateCode="AK">Alaska</option>
            <option stateCode="AZ">Arizona</option>
            <option stateCode="AR">Arkansas</option>
            <option stateCode="CA">California</option>
            <option stateCode="CO">Colorado</option>
            <option stateCode="CT">Connecticut</option>
            <option stateCode="DE">Delaware</option>
            <option stateCode="DC">District Of Columbia</option>
            <option stateCode="FL">Florida</option>
            <option stateCode="GA">Georgia</option>
            <option stateCode="HI">Hawaii</option>
            <option stateCode="ID">Idaho</option>
            <option stateCode="IL">Illinois</option>
            <option stateCode="IN">Indiana</option>
            <option stateCode="IA">Iowa</option>
            <option stateCode="KS">Kansas</option>
            <option stateCode="KY">Kentucky</option>
            <option stateCode="LA">Louisiana</option>
            <option stateCode="ME">Maine</option>
            <option stateCode="MD">Maryland</option>
            <option stateCode="MA">Massachusetts</option>
            <option stateCode="MI">Michigan</option>
            <option stateCode="MN">Minnesota</option>
            <option stateCode="MS">Mississippi</option>
            <option stateCode="MO">Missouri</option>
            <option stateCode="MT">Montana</option>
            <option stateCode="NE">Nebraska</option>
            <option stateCode="NV">Nevada</option>
            <option stateCode="NH">New Hampshire</option>
            <option stateCode="NJ">New Jersey</option>
            <option stateCode="NM">New Mexico</option>
            <option stateCode="NY">New York</option>
            <option stateCode="NC">North Carolina</option>
            <option stateCode="ND">North Dakota</option>
            <option stateCode="OH">Ohio</option>
            <option stateCode="OK">Oklahoma</option>
            <option stateCode="OR">Oregon</option>
            <option stateCode="PA">Pennsylvania</option>
            <option stateCode="RI">Rhode Island</option>
            <option stateCode="SC">South Carolina</option>
            <option stateCode="SD">South Dakota</option>
            <option stateCode="TN">Tennessee</option>
            <option stateCode="TX">Texas</option>
            <option stateCode="UT">Utah</option>
            <option stateCode="VT">Vermont</option>
            <option stateCode="VA">Virginia</option>
            <option stateCode="WA">Washington</option>
            <option stateCode="WV">West Virginia</option>
            <option stateCode="WI">Wisconsin</option>
            <option stateCode="WY">Wyoming</option>
            <option stateCode="AS">American Samoa</option>
            <option stateCode="GU">Guam</option>
            <option stateCode="MP">Northern Mariana Islands</option>
            <option stateCode="PR">Puerto Rico</option>
            <option stateCode="UM">United States Minor Outlying Islands</option>
            <option stateCode="VI">Virgin Islands</option>
        </datalist>
    </li>
    <li>
        <label>Zip:</label>
        <input list="zipCode" size="6">
        <input type="text" size="4">
    </li>
</ul>
<ul>
    <li>
        <label>Home Phone:</label>
        <input type="text">
    </li>
    <li>
        <label>Work Phone:</label>
        <input type="text">
    </li>
    <li>
        <label>Cell Phone:</label>
        <input type="text">
    </li>
</ul>
<ul>
    <li>
        <label>Email:</label>
        <input type="text">
    </li>
    <li>
        <label>Communication Preference:</label>
        <input list="communicationPreference">
    </li>
    <li>
        <label>Best to Call:</label> @*TODO: should this be on the family table as a bit or on the contact info as something else?*@
        <input list="bestToCall">
    </li>
    <li>
        <label>Sex:</label>
        <select>
            <option value="1">M</option>
            <option value="1">F</option>
        </select>
    </li>
    <li>
        <label>Race:</label>
        <select></select>
    </li>
    <li>
        <label>Occupation:</label>
        <input type="Text" />
    </li>
    <li>
        <label>Employer:</label>
        <input type="Text" />
    </li>
</ul>
<ul>
    <li><h4>Guardian 2:</h4></li>
    <li>
        <label>Last Name:</label>
        <input type="text" />
    </li>
    <li>
        <label>First Name:</label>
        <input type="text" />
    </li>
    <li>
        <label>Relationship:</label>
        <select>
            <option value="1">Mother</option>
            <option value="2">Father</option>
        </select>
    </li>
</ul>
<ul>
    <li>
        <label>Address 1:</label>
        <input type="text" size="50">
    </li>
    <li>
        <label>Address 2:</label>
        <input type="text" size="50">
    </li>
    <li>
        <label>City:</label>
        <input type="text">
    </li>
    <li>
        <label>State:</label>
        <input list="states" />
        <datalist id="states" name="state">
            <option stateCode="AL">Alabama</option>
            <option stateCode="AK">Alaska</option>
            <option stateCode="AZ">Arizona</option>
            <option stateCode="AR">Arkansas</option>
            <option stateCode="CA">California</option>
            <option stateCode="CO">Colorado</option>
            <option stateCode="CT">Connecticut</option>
            <option stateCode="DE">Delaware</option>
            <option stateCode="DC">District Of Columbia</option>
            <option stateCode="FL">Florida</option>
            <option stateCode="GA">Georgia</option>
            <option stateCode="HI">Hawaii</option>
            <option stateCode="ID">Idaho</option>
            <option stateCode="IL">Illinois</option>
            <option stateCode="IN">Indiana</option>
            <option stateCode="IA">Iowa</option>
            <option stateCode="KS">Kansas</option>
            <option stateCode="KY">Kentucky</option>
            <option stateCode="LA">Louisiana</option>
            <option stateCode="ME">Maine</option>
            <option stateCode="MD">Maryland</option>
            <option stateCode="MA">Massachusetts</option>
            <option stateCode="MI">Michigan</option>
            <option stateCode="MN">Minnesota</option>
            <option stateCode="MS">Mississippi</option>
            <option stateCode="MO">Missouri</option>
            <option stateCode="MT">Montana</option>
            <option stateCode="NE">Nebraska</option>
            <option stateCode="NV">Nevada</option>
            <option stateCode="NH">New Hampshire</option>
            <option stateCode="NJ">New Jersey</option>
            <option stateCode="NM">New Mexico</option>
            <option stateCode="NY">New York</option>
            <option stateCode="NC">North Carolina</option>
            <option stateCode="ND">North Dakota</option>
            <option stateCode="OH">Ohio</option>
            <option stateCode="OK">Oklahoma</option>
            <option stateCode="OR">Oregon</option>
            <option stateCode="PA">Pennsylvania</option>
            <option stateCode="RI">Rhode Island</option>
            <option stateCode="SC">South Carolina</option>
            <option stateCode="SD">South Dakota</option>
            <option stateCode="TN">Tennessee</option>
            <option stateCode="TX">Texas</option>
            <option stateCode="UT">Utah</option>
            <option stateCode="VT">Vermont</option>
            <option stateCode="VA">Virginia</option>
            <option stateCode="WA">Washington</option>
            <option stateCode="WV">West Virginia</option>
            <option stateCode="WI">Wisconsin</option>
            <option stateCode="WY">Wyoming</option>
            <option stateCode="AS">American Samoa</option>
            <option stateCode="GU">Guam</option>
            <option stateCode="MP">Northern Mariana Islands</option>
            <option stateCode="PR">Puerto Rico</option>
            <option stateCode="UM">United States Minor Outlying Islands</option>
            <option stateCode="VI">Virgin Islands</option>
        </datalist>
    </li>
    <li>
        <label>Zip:</label>
        <input list="zipCode" size="6">
        <input type="text" size="4">
    </li>
</ul>
<ul>
    <li>
        <label>Home Phone:</label>
        <input type="text">
    </li>
    <li>
        <label>Work Phone:</label>
        <input type="text">
    </li>
    <li>
        <label>Cell Phone:</label>
        <input type="text">
    </li>
</ul>
<ul>
    <li>
        <label>Email:</label>
        <input type="text">
    </li>
    <li>
        <label>Communication Preference:</label>
        <input list="communicationPreference">
    </li>
    <li>
        <label>Best to Call:</label>
        <input list="bestToCall">
    </li>
    <li>
        <label>Sex:</label>
        <select>
            <option value="1">M</option>
            <option value="1">F</option>
        </select>
    </li>
    <li>
        <label>Race:</label>
        <select></select>
    </li>
    <li>
        <label>Occupation:</label>
        <input type="Text" />
    </li>
    <li>
        <label>Employer:</label>
        <input type="Text" />
    </li>
</ul>
<ul>
    <li>
        Sibling Information:
    </li>
    <li>
        <table>
            <tr>
                <th>Name</th>
                <th>Birth Date</th>
            </tr>
            <tr>
                <td>Data</td>
                <td>data</td>
            </tr>
        </table>
    </li>
    <li>
        <label>Release Comments:</label>@*TODO: Are we going to need an additional column on the comments table to indicate where each comment goes? Or maybe a foreign key to comments on the client table that refers to a specific comment on the comments table for releaseCommentsID?*@
        <textarea name="familyReleaseComments" rows="20" cols="20"></textarea>
    </li>
</ul>
