@model eciWEB2016.Models.Address

<li>
    <label>Address:</label>
    @Html.TextBoxFor(Staff => Staff.address1)
    <label>Zip:</label>
    @Html.TextBoxFor(Staff => Staff.zip)
    <label>City:</label>
    @Html.TextBoxFor(Staff => Staff.city)
    <label>State:</label>
    @Html.TextBoxFor(Staff => Staff.state)
    <select>
        <option value="1">AL</option>
    </select>
</li>
